dist: xenial
language: python
python: 3.7
before_install:
  - pip install pytest pytest-cov
  - pip install coveralls
install:
  - python setup.py install
script:
  - pytest --cov=mahjong
after_success:
  - coveralls
