[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"
beautifulsoup4 = "*"
pandas = "*"
pytest = "*"
pyinstaller = "*"
setuptools = "==44.0.0"

[packages]
numpy = "*"
bitstruct = "*"
requests = "*"
jinja2 = "*"
loguru = "*"

[requires]
python_version = "3.8"
